/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
  z-index: 3;
}

#logo {
  font-size: 2.2rem;
  font-weight: 700;
}

.logo {
  height: 2.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #0a5ac2;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #062d60;
  height: 90vh;
  padding: 10rem 0 9.6rem 0;
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/*********************************/
/* SERVICES SECTION */
/*********************************/

.section-services {
  padding: 9.8rem 0;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.8rem;
}

.service-card {
  box-shadow: 0 1.4rem 2.8rem rgb(0, 0, 0, 0.1);
  border-radius: 11px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.service-img {
  width: 100%;
}

.card-text {
  padding: 1.8rem;
}

.service-desc {
  line-height: 1.6;
  font-size: 1.6rem;
}

/* ************************************ */
/* ABOUT SECTION */
/* ******************************** */

.section--about {
  text-align: center;
  color: #fff;
  padding: 9.6rem;
  width: 100vw;
  min-height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("z.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section--about .heading-secondary {
  color: white;
}

.section--about .about-para {
  color: white;
  padding: 0 12rem;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-top: 2.4rem;
}
.section--about .about-para:last-child {
  margin-bottom: 2.4rem;
}
.test {
  width: 100vw;
  height: 200vh;
}

/*********************************/
/* TESTIMONIALS SECTION */
/*********************************/

.section-testimonials {
  background-color: #cee2fc;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonial-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 500%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
}

/*********************************/
/* CONTACT US SECTION */
/*********************************/

.section-contact-us {
  padding: 9.8rem 0 12.8rem 0;
}

.contact-us {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #1f4270, #062d60);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
}

.contact-us-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(31, 66, 112, 0.3),
      rgba(6, 45, 96, 0.3)
    ),
    url("../img/contact-us.jpg");
  background-size: cover;
  background-position: center;
}

.contact-us .heading-secondary {
  color: white;
  margin-bottom: 3.2rem;
}

.contact-us-text-box {
  color: white;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.contact-us-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.contact-us-icon-container{
  display: flex;
  justify-content: space-evenly;
  padding: 0 9.6rem 1.2rem 9.6rem;
  margin-bottom: 4.8rem;
  font-size: 3.6rem;
  border-bottom: #767676 solid 0.01rem;
}

.contact-us-icon{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.contact-us-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 3.2rem;
}

.contact-us-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.contact-us-form input,
.contact-us-form select {
  width: 100%;
  font-size: 1.8rem;
  font-family: inherit;
  padding: 1.2rem;
  border: none;
  background-color: #cee2fc;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-form {
  background-color: #0a5ac2;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1.8rem;
  padding: 1.2rem 3.2rem;
  border-radius: 9px;
  transition: 0.5s;
  align-self: end;
  transition: 0.5s;
}

.btn-form:hover {
  background-color: #cee2fc;
  color: #555;
}

/*********************************/
/* FOOTER */
/*********************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
  color: #555;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.contacts {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  color: #767676;
  font-size: 1.6rem;
  text-decoration: none;
  transition: 0.4s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
